[Desktop Entry]
Name=SVim
Exec=terminator --class NeoVim -T NeoVim -e nvim
Icon=svim.png
Terminal=false
Type=Application
Categories=Utility;TextEditor
